:root {				/* Calculating leftside width at the grid level as it were on the rightside*/
  --left-column-size: 20%;	/* top level leftside width: 20% -> top-level rightside width: 80%, since global width = 100%*/
  --left-shift: 25%;		/* grid level width on rightside: 100% -> 100% / 80% = 1.25 -> 1.25 * 20% = 25% -> --left-shift = 25%*/
}

@font-face {
  font-family: montserrat-regular;
  src: url('/resources/Montserrat-Regular.otf')  format('opentype');
}
@font-face {
  font-family: montserrat-semibold;
  src: url('/resources/Montserrat-Semibold.otf')  format('opentype');
}
@font-face {
  font-family: montserrat-bold;
  src: url('/resources/Montserrat-Bold.otf')  format('opentype');
}
@font-face {
  font-family: regular;
  src: url('/resources/OpenSans-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: italic;
  src: url('/resources/OpenSans-SemiBoldItalic.ttf')  format('truetype');
}
@font-face {
  font-family: semibold;
  src: url('/resources/OpenSans-Semibold.ttf')  format('truetype');
}
@font-face {
  font-family: bold;
  src: url('/resources/OpenSans-Bold.ttf')  format('truetype');
}

a { 
	text-decoration: none;
	color: inherit;
}
* {
	margin:0;
	padding:0
}/* for demo only - use a prper reset instead */
h1 {
	font-family: bold; 
	text-align: left;
	font-size: 1.76vw;
	padding-top: 1.5%;
	padding-bottom: 0.8%;
}
h2 {
	font-family: semibold; 
	text-align: left;
	font-size: 1.73vw;
	padding-top: 1.5%;
	padding-bottom: 0.8%;
}
p + p {
	padding-top: 0.8%;
}
th {
  padding: 0px;
  margin: 0px;
}

td {
	padding: 0px;
	margin: 0px;
}

table {
    border-spacing: 0px;
	padding: 0px;
	margin: 0px;
}
html {
	width: 100%;
}
body {
	width:100%;
	text-align:center;
	background:#FFFFFF;
	padding:1% 0;
}
#wrapper {
	width:86%;
	margin:0 auto;
	text-align:left;
	background:#FFFFFF;
	/*border:0.2em solid #000;*/
	padding:5%;
}
#header {
	background:#FFF;
	font-family: montserrat-regular;
	font-size: 2.5vw;
}
#header h1, #footer p {
	text-align:center;
	margin:0 0 0 0;
}
#twocolumns {
	position:relative;
	width:100%;
	z-index:2;
	margin:1% 0;
	overflow:hidden;
	font-family: regular;
	font-size: 1.7vw;
}
#leftside {
	width:20%;
	z-index:3;
	position:relative;
	float:left;
	text-align: justify;
}
#rightside {
	position:relative;
	z-index:2;
	margin:0 0 0 20%;
	text-align: justify;
}

/* use absolute overlays for full column colours and borders*/
.col {
	width:20%;
	position:absolute;
	z-index:0;
	left:0;
	top:0;
	bottom:0;
	/*border:0.1em solid #000;*/
	background:#FFFFFF;
}
.two {
	background:#FFFFFF;
	left:20%;
	right:0;
	width:auto;
}
.title-text {
	text-align:center;
	color: rgb(47,62,81);
}
.social{
	float: right;
	margin: -3% 0 0 0;
	vertical-align: top;
	width: 13.6%;
}
.shift-1st-div-left {
  display: grid;
  grid-template-columns: var(--left-shift)  100%;
  padding: 0;
  margin: 0;
  align-items: center;
  position: relative;
  left: calc(var(--left-shift) * -1);
}
